* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #211cb4;
  font-family: "DM Sans", "Segoe UI";
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  /* background-color: blue; */
  background-color: #211cb4;
  color: azure;
  align-items: center;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

header a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
nav a {
  text-decoration: none;
  color: white;
}
.close-button {
  display: none;
}
